<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="jumbotron" style="padding:45px 0px">
	<h4 class="text-center">Firebase ToDo List</h4>
</div>

<div class="input-group">
	<input type="text" class="form-control" #itemTitle>
	<div class="input-group-addon hover-cursor" (click)="onAdd(itemTitle)">
		<i class="fa fa-plus-circle fa-2x"></i>
	</div>
</div>

<div style="margin: 5px 0px">
	<ul class="list-group">
		<li class="list-group-item" *ngFor="let item of toDoListArray">
			<span class="hover-cursor" [class.text-success]="item.isChecked" (click)="alterCheck(item.$key,item.isChecked)">
				<i class="fa fa-lg" [ngClass]="item.isChecked?'fa-check-circle-o' : 'fa-circle-thin'"></i>
			</span>	
			{{item.title}}
			<span class="hover-cursor text-danger pull-right" (click)="onDelete(item.$key)">
				<i class="fa fa-trash-o fa-lg"></i>
			</span>	
		</li>
	</ul>
</div>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>